DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=foobar
DB_NAME=test
DB_SSL_MODE=disable
DB_MAX_IDLE_CONNS=5
DB_MAX_OPEN_CONNS=10
DB_CONN_MAX_LIFETIME=3600

## true - don't use prepared queries to simplify using load balansers such as PgBouncer
DB_PREFER_SIMPLE_PROTOCOL=true

## true - log all queries as debug messages
DB_LOGGING_ENABLED=true
## the limit in milliseconds after that the query is marked as slow and should be logged as warning
DB_SLOW_QUERY_LOGGING_LIMIT=300